#bodiv, #bodiv2, #bodiv3,#bodiv4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 19;
    display: flex;
    flex-direction: row;
}
button{
    border: outset 2px white;
    padding: 5px;
}
button:active{
    border: inset 2px white;
}
table{
    border: gray double 4px;
}
td>input[type="range"]{
    width: 100%;
}

#btn_container_general{
    display: flex;
    justify-content: space-around;
}
#btn_container_general>button{
    width: 100%;
}

.lpcc{
    text-align: center;
    color: black;
    height: 22px;
}
.lpccsmall{
    text-align: center;
    color: black;
    height: 22px;
}
.lpccAlarm{
    background-color: #C50000;
}
.lpccGrn{
    background-color: #64E54F;
}
.btnBlinck {
    animation: blinker 0.8s step-end infinite;
    background-color: #F5E142;
}
.btnBlinck:disabled {
    animation: none;
    background-color: #f54242;
}

@keyframes blinker {
    50% {
        color: white;
    }
}